<h1>Change password</h1>
<form method="POST" action="/changePassword">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <p>
        <label>Current Password</label>
        <input type="password" name="password" required>
    </p>
    <p>
        <label>New Password</label>
        <input type="password" name="newPassword" required>
    </p>
    <p>
        <input type="submit" value="Update password">
    </p>
</form>
